/* Stile generale per impostare l'immagine di sfondo */
body {
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background: url("https://www.majellando.it/Experience/La%20citta%20della%20Pietra-%20pietrales/image-thumb__19127__ds-maxwidth1920/WhatsApp%20Image%202024-03-12%20at%2018.01.38.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Imposta opacità per il testo leggibile */
  z-index: 0;
}

header, main, footer {
  position: relative;
  z-index: 1; /* Porta il contenuto in primo piano rispetto allo sfondo */
}

/* Stile per il contenuto */
header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 1rem;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.intro, .highlights {
  text-align: center;
  padding: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7); /* Opacità leggermente più scura per il footer */
  color: #fff;
}
